label {
  display: inline-block;
}
.form-enter {
  transform: scale(0.1);
}
.form-enter-active {
  transform: scale(1);
  transition: transform 2500ms ease;
}
.form-exit {
  transform: scale(1);
}
.form-exit-active {
  transform: scale(0.1);
  transition: transform 2500ms ease;
}

.label-enter {
  transform: translateX(-200%);
}
.label-enter-active {
  transform: translateX(0);
  transition: transform 250ms ease;
}
.label-exit {
  transform: translateX(0);
}
.label-exit-active {
  transform: translateX(-200%);
  transition: transform 250ms ease;
}
