html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}
body > div {
  height: 100vh;
}
.title {
  margin: 0 0 10px 0;
  text-align: center;
}

.error {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 10px;
  background-color: red;
  color: black;
  font-size: 16px;
}
ul {
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}
ul li:not(:last-child) {
  margin-bottom: 5px;
}
ul > li > button {
  height: 20px;
  padding-top: 1px;
}

h2 {
  margin-top: 30px;
  text-align: center;
}
button {
  background-color: #fff;
}
input,
button {
  border-radius: 5px;
  border-color: transparent;
  cursor: pointer;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.appear {
  transform: translateX(-100%);
}
.appearActive {
  transform: translateX(0);
  transition: transform 500ms ease-in;
}

.enter {
  transform: translateX(150%);
  opacity: 0;
}
.enterActive {
  opacity: 1;
  transform: translateX(0);
  transition: all 250ms ease-in;
}
.exit {
  opacity: 1;
  transform: translateX(0);
}
.exitActive {
  opacity: 0;
  transform: translateX(150%);
  transition: all 250ms ease-in;
}
