.section-enter {
  transform: translateX(-100%);
}
.section-enter-active {
  transform: translateX(0);
  transition: transform 250ms ease-in;
}
.section-exit {
  transform: translateX(0);
}
.section-exit-active {
  transform: translateX(-100%);
  transition: transform 250ms ease-in;
}
